[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/luau"]
	path = submodules/luau
	url = git@github.com:luau-lang/luau.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = git@github.com:SanderMertens/flecs.git
[submodule "submodules/glaze"]
	path = submodules/glaze
	url = git@github.com:stephenberry/glaze.git
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "submodules/clay"]
	path = submodules/clay
	url = git@github.com:nicbarker/clay.git
[submodule "submodules/sdl_ttf"]
	path = submodules/sdl_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "submodules/sdl_image"]
	path = submodules/sdl_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "submodules/catch2"]
	path = submodules/catch2
	url = git@github.com:catchorg/Catch2.git
