[submodule "submodules/SDL"]
	path = submodules/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "submodules/simdjson"]
	path = submodules/simdjson
	url = git@github.com:simdjson/simdjson.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = git@github.com:SanderMertens/flecs.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "submodules/v5.0.0"]
	path = submodules/v5.0.0
	url = git@github.com:stephenberry/glaze.git
[submodule "submodules/glaze"]
	path = submodules/glaze
	url = git@github.com:stephenberry/glaze.git
